h1{
	font-family: lucida console;
	font:bold;
	font-style: italic;
	margin-left: 35px;
	

}

header { 
	border-bottom: 1pt solid #0F6E43;
	border-width: thick;

}

header div{ margin-top: 5px;
 }


section { border-bottom: 1pt solid #0F6E43;
		border-width: thick;

 }

 .subtext {
	font-family: times new roman;
	font:bold;
	font-style: italic;
	margin-left: 10px;
	margin-top: 20px;
	font-size: 35px;
	border-bottom: 1pt solid  #0F6E43;
	border-width: thick;
	text-align: center;


}

aside{ text-align: center;
	   


}

.toplink {
	font-family: times new roman;
	font:bold;
	font-style: italic;
	margin-right: 30px;
	margin-top: 15px;
	font-size: 20px;
	color: #D1CE6F;



}

.pics {

	height: 350px;
	width: 350;
	margin-bottom: 10px;
	margin-left: 20px;
}

footer {
	font-family: lucida console;
	font:bold;
	font-style: italic;
	margin-left: 10px;
	margin-top: 20px;
	font-size: 25px;

}

.networking{
	height:20px;
	width: 20px;


}

head{
	background-image: url(images/designimage.png);
	height: 280px;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

nav{
	background-image: url(images/designimage.png);
	height: 170px;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	
}

.hyperlink{
	margin-left: 120px;
}

.portfoliotext{
	margin-right: 300px;
	text-align: center;
	font-style: italic;
	font-size: 10px;

}

